@import "//filehost.izhai.net/web/font-awesome/4.5.0/css/font-awesome.css";
@import "keyframes";
.sp-wrapper{
  font-family: "Merriweather",serif;
  color:#333;
  font-size: 16px;
  line-height:1;
  .clearfix{
    overflow: auto;
    zoom: 1;
  }
  width:100%;
  position: relative;
  .sp-stage{
    width:80%;
    max-width: 510px;
    overflow: hidden;
    margin: 0 auto;
    padding:20px 60px;
    position: relative;
    height: 100px;
    overflow: hidden;
    img.sp-pic{
      width:100px;
      height:100px;
      float: left;
      position: relative;
      top:50%;
      transform:translateY(-50%);

    }
    .sp-logo{
      position: absolute;
      bottom: 0;
      right:0;
      color:#969393;
    }
    .sp-right{
      float: left;
      margin-left:10px;
      width:calc(100% - 110px);
      position: relative;
      min-height:100px;
      .sp-title{
        font-size:2em;
        white-space: nowrap;
      }
      .sp-meta {
        top: calc(2em + 5px);
        left:8px;
        position: absolute;
        transition: all .5s;
        .meta-album{
          font-size: 1.6em;
        }
        .meta-singer{
          margin-top: 5px;
          font-size: 1.1em;
        }
        .sp-hint{
          margin-top: 10px;
          font-size: 0.9em;
          text-align: right;
          width:100%;
        }
      }
      .sp-control{
        position: absolute;
        top:50px;
        transition:all .5s;
        transform: translateX(-50%);
        left: 50%;
        display: none;
        margin-top: 10px;
        button{
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          margin: 0 5px;
          display: none;
        }
        .gray{
          color:gray;
        }
      }
      .sp-timer{
        display: none;
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
        transition:all .5s;
        .time-total,.time-separator{
          font-size: .7em;
        }
      }
    }
    &:hover:not(.sp-playing){
      .sp-meta{
        transform: translateX(150px);
        opacity: 0;
      }
      .sp-control{
        display: block;
        animation:sp-fadein .5s;
        .sp-btn-playstop{
          display:block;
          font-size:3em;
          position: relative;
          bottom: 20px;
        }
      }
    }
    &.sp-playing{
      .sp-meta{
        display: none;
      }
      .sp-timer{
        display: block;
      }
      &:hover{
        .sp-timer{
          opacity: 0;
          display: none;
        }
        .sp-control{
          display: block;
          button:not(.sp-btn-playstop){
            display: inline-block;
            animation:sp-fadein .5s;
          }
          .sp-btn-playstop{
            display: inline-block;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}